.logo-svg {
  font-family: "Varela Round", sans-serif;
}
.logo-text {
  text-transform: uppercase;
  animation: stroke 1s linear forwards;
  stroke-width: 0;
  stroke: #000;
  font-size: 28px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(0, 0, 0, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(0, 0, 0, 1);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1;
  }
  100% {
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(0, 0, 0, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 2;
  }
}
