@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 60000000s 0s, color 60000000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}